#root,
.app {
  height: 100%;
  margin: 20px;
}
.app {
<<<<<<< HEAD
=======
  background: #3181f2;
>>>>>>> 80c63e3090ff850961baa4971bc22e17d71d8e50
  max-width: 800px;
  margin: 0 auto;
}
body {
<<<<<<< HEAD
  background: #f3f3f3;
=======
  background: #f3ffbd;
>>>>>>> 80c63e3090ff850961baa4971bc22e17d71d8e50
}
